// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@import '../../pebbles/includes/lib';
@import '../../pebbles/components/newsletter';
@import '../../hubs/sub-nav';
@import '../../hubs/cards';

$grey: #ddd;

@mixin greyBox() {
    @include border-box();
    background: $grey;
    margin: 20px;
    padding: 20px;
}

.hub-content {
    @include zilla-slab;
}

.section-break {
    @include gradient-horizontal($start-color: #69B9D0, $end-color: #9a4229);
    border: 0;
    height: 6px;
    margin: 0 20px;
    min-width: 0;
    padding: 0;

    &.section-break-tall {
        height: 10px;
    }

    @media #{$mq-tablet} {
        margin: 0 auto;
    }
}

.content {
    // clear'ing element messes up flexyboxes
    &.columns2:after {
        display: none;
    }

    @media #{$mq-tablet} {
        padding-left: 0;
        padding-right: 0;
    }
}

.video-wrapper,
.feature-image,
.product {
    @include greyBox();
}

.video-wrapper {
    height: 0;
    padding-bottom: 56.25%; /* 16x9 aspect */
    padding-top: 25px;
    position: relative;

    iframe {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
}

.author {
    display: block;
    font-style: italic;
    font-weight: normal;
    margin-top: 20px;

    &:before {
        content: '~ ';
        display: inline-block;
        margin-right: 4px;
    }
}

/* -------------------------------------------------------------------------- */
// Intro

#intro {
    h1 {
        @include font-size-huge;
        text-transform: lowercase;

        span {
            color: #fff;
            background: #000;
            padding: 0 3px;
        }
    }

    p {
        @include font-size-level1;
        font-weight: bold;
        line-height: 1.2;
        margin-bottom: 0;
    }
}

#download-intro-wrapper {
    display: none;
}

@media #{$mq-tablet} {
    #intro .content {
        display: flex;
    }

    #page-heading {
        flex: 1 0 auto;
    }

    #download-intro-wrapper {
        align-items: center;
        display: flex;
        flex: 0 0 340px;
        justify-content: center;
    }
}

/* -------------------------------------------------------------------------- */
// Features

@media #{$mq-desktop} {
    #features .content {
        display: flex;
    }
}

/* -------------------------------------------------------------------------- */
// Blog feed list

.blog-list,
.press-list {
    display: block;
    position: relative;
}

.blog-list-item {
    margin-bottom: 20px;

    h3 {
        @include font-size-level4;
        line-height: 1.4;
        margin-bottom: 10px;

        a:link,
        a:visited {
            color: #000;
            display: block;
            text-decoration: none;
        }

        a:hover,
        a:visited,
        a:focus {
            text-decoration: underline;
        }
    }
}

.blog-list-image {
    background: $grey;
    display: block;
    height: 150px;
    margin-bottom: 20px;
    position: relative;
    width: 100%;

    .meta {
        @include font-size(13px);
        background: #4e92df;
        color: #fff;
        left: 0;
        padding: 2px 6px;
        position: absolute;
        top: 0;
    }
}

.blog-list-link-see-all {
    @include trailing-double-caret;

    @media #{$mq-desktop} {
        position: absolute;
        top: 20px;
        right: 0;
    }
}


/* -------------------------------------------------------------------------- */
// Press feed list

.press-list-item {
    border-top: 1px solid $grey;
    padding: 20px 0;

    &:last-child {
        border-bottom: 1px solid $grey;
    }

    a:link,
    a:visited {
        color: #000;
        display: block;
        text-decoration: none;
    }

    a:hover,
    a:visited,
    a:focus {
        text-decoration: underline;
    }
}


/* -------------------------------------------------------------------------- */
// Related content CTA's

.related-content {
    position: relative;
}

.related-content-item {
    h2 {
        margin-bottom: 20px;
    }

    p {
        max-width: 20em;
        margin: 0 auto 20px;
    }

    .related-content-item-container {
        padding: 20px;
    }

    &:first-child .related-content-item-container {
        border-bottom: 1px solid #ccc;
    }

    @media #{$mq-tablet} {
        width: 50%;
        float: left;

        .related-content-item-container {
            padding: 40px;
        }

        &:first-child .related-content-item-container {
            border-bottom: none;
            border-right: 1px solid #ccc;
        }
    }
}

.fx-privacy-link {
    a:link,
    a:visited {
        color: inherit;
    }
}

#newsletter-form {
    input[type="email"] {
        width: 100%;
    }

    #form-details {
        padding-top: 20px;
    }

    button[type="submit"] {
        margin-top: 20px;
    }
}

@supports (display: flex) {
    @media #{$mq-tablet} {
        .columns2 {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .column {
                flex: 0 0 calc(50% - 10px);
            }
        }

        // product list
        .productlist {
            display: flex;
            flex-wrap: wrap;
        }

        .product {
            flex: 1 0 calc(50% - 40px);
        }
    }

    @media #{$mq-desktop} {
        .product {
            flex: 1 0 calc(25% - 40px);
        }
    }

    @media #{$mq-desktop-wide} {
        // blog feeds
        .blog-list {
            display: flex;
            justify-content: space-between;
        }

        .blog-list-item {
            flex: 0 0 calc(50% - 40px);
        }
    }
}
