// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@import '../../pebbles/includes/lib';
@import '../../pebbles/components/newsletter';
@import '../../hubs/sub-nav';
@import '../../hubs/cards';

$grey: #ddd;

@mixin greyBox() {
    @include border-box();
    background: $grey;
    margin: 20px;
    padding: 20px;
}

#hub-content {
    @include zilla-slab;

    .download-link,
    .form-button,
    .form-contents,
    .form-submit,
    .fx-privacy-link a {
        @include open-sans();
    }

    .download-link,
    .form-button {
        @include font-size(18px);
        background: transparent;
        border-color: #9c432a;
        border-radius: 0;
        color: #9c432a;

        &:hover {
            background: rgba(156, 67, 42, .05);
        }
    }

    .fx-privacy-link a {
        color: #0081ad;
    }
}

.section-break {
    @include gradient-horizontal($start-color: #69B9D0, $end-color: #9a4229);
    border: 0;
    height: 6px;
    margin: 0 20px;
    min-width: 0;
    padding: 0;

    &.section-break-tall {
        height: 10px;
    }

    @media #{$mq-tablet} {
        margin: 0 auto;
    }
}

.content {
    // clear'ing element messes up flexyboxes
    &.columns2:after {
        display: none;
    }

    @media #{$mq-tablet} {
        padding-left: 0;
        padding-right: 0;
    }
}

/* -------------------------------------------------------------------------- */
// Intro

#intro {
    h1 {
        @include font-size-huge;
        text-transform: lowercase;

        span {
            color: #fff;
            background: #000;
            padding: 0 3px;
        }
    }

    p {
        @include font-size-level1;
        font-weight: bold;
        line-height: 1.2;
        margin-bottom: 0;
    }
}

#download-intro-wrapper {
    display: none;
}

@media #{$mq-tablet} {
    #intro .content {
        display: flex;
    }

    #page-heading {
        flex: 1 0 auto;
    }

    #download-intro-wrapper {
        align-items: center;
        display: flex;
        flex: 0 0 340px;
        justify-content: center;
    }
}

/* -------------------------------------------------------------------------- */
// Features

@media #{$mq-desktop} {
    #features .content {
        display: flex;
    }
}


#mobile-card {
    .card-content-wrapper {
        @include at2x('/media/img/foundation/annualreport/2015/bg-banner-desktop.jpg', 1280px, 612px);
    }
}

.fx-privacy-link {
    a:link,
    a:visited {
        color: inherit;
    }
}

#newsletter-form {
    input[type="email"] {
        width: 100%;
    }

    #form-details {
        padding-top: 20px;
    }

    button[type="submit"] {
        margin-top: 20px;
    }
}

@supports (display: flex) {
    @media #{$mq-tablet} {
        .columns2 {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .column {
                flex: 0 0 calc(50% - 10px);
            }
        }

        // product list
        .productlist {
            display: flex;
            flex-wrap: wrap;
        }

        .product {
            flex: 1 0 calc(50% - 40px);
        }
    }

    @media #{$mq-desktop} {
        .product {
            flex: 1 0 calc(25% - 40px);
        }
    }

    @media #{$mq-desktop-wide} {
        // blog feeds
        .blog-list {
            display: flex;
            justify-content: space-between;
        }

        .blog-list-item {
            flex: 0 0 calc(50% - 40px);
        }
    }
}
