{% extends "base-pebbles.html" %}

{% block page_title %}
{% endblock %}

{% block page_desc %}
{% endblock %}

{% block body_id %}{% endblock %}
{% block body_class %}{% endblock %}

{% block page_css %}
  {% stylesheet 'firefox-hub-home' %}
{% endblock %}

{% block content %}
  {% include 'firefox/hub/_sub-nav.html' %}

  <div id="hub-content">
    <hr class="content section-break section-break-tall" />

    <section id="intro" class="page-section">
      <div class="content columns2">
        <div class="column">
          <h1 id="page-heading"><span>Firefox</span></h1>

          <p>
            {{ _('The 100% free-range, fresh-squeezed, ethical browser') }}
          </p>
        </div>

        <div class="column" id="download-intro-wrapper">
          {{ download_firefox(dom_id='download-intro') }}
        </div>
      </div>
    </section> {#--/#intro--#}

    <section id="features" class="page-section">
      <div class="content columns2">
        <div id="privacy" class="column">
          <section id="private" class="card featured-image-card">
            <img src="{{ static('img/firefox/private-browsing/private-browsing-meta.png') }}" class="card-image" width="800">

            <strong class="card-label">{{ _('Private') }}</strong>

            <div class="card-content">
              <h2 class="card-heading">{{ _('More Privacy') }}</h2>

              <p>
              {% trans %}
                Let your freak flag fly&hellip;or keep it safely tucked away.
                Firefox’s powerful privacy tools give you control over your
                data, so that you can browse, bank, and binge-watch without a
                care.
              {% endtrans %}
              </p>

              <a class="card-cta" href="">
                {{ _('See how Firefox protects your privacy') }}
              </a>
            </div>
          </section>
        </div> {#--/.column--#}
        <div id="modern-independent" class="column">
          <section id="modern" class="card card-stacked">
            <strong class="card-label">{{ _('Modern') }}</strong>

            <div class="card-content">
              <h2 class="card-heading">{{ _('More Speed') }}</h2>

              <p>
              {% trans %}
                Bring it, Internet! Firefox has spent the last year beefing up
                our performance, and pushing the web further with new, exclusive
                features. So go ahead and launch a big project or binge a live
                panda stream &mdash; without missing a beat.
              {% endtrans %}
              </p>

              <a class="card-cta" href="">
                {{ _('Check out our browser muscles') }}
              </a>
            </div>
          </section>
          <section id="independent" class="card card-stacked">
            <strong class="card-label">{{ _('Independent') }}</strong>

            <div class="card-content">
              <h2 class="card-heading">{{ _('More Freedom') }}</h2>

              <p>
              {% trans %}
                Following the pack isn’t really our style; we’d rather lead.
                Firefox is an independent browser fueled by a non-profit,
                Mozilla. So when you choose Firefox, you’re helping build a
                healthy, unrestricted Internet that helps everyone.
              {% endtrans %}
              </p>

              <a class="card-cta" href="">{{ _('See how it benefits you') }}</a>
            </div>
          </section>
        </div> {#--/.column--#}
      </div> {#--/.content--#}
    </section> {#--/#features.page-section--#}

    {% if LANG.startswith('en-') %}
    <hr class="content section-break" />

    <section class="page-section">
      <div class="content">
        <div class="card quote-card quote-primary">
          <strong class="card-label">People are talking</strong>

          <div class="card-content">
            <p class="quote-intro">
              Vogue Culture News says:
            </p>

            <blockquote class="quote">
              <strong>Break up with Google.</strong>
              <br />
              Use a web browser you have more control over, and which has more
              plug-ins that you can use for privacy, such as <em>Firefox</em>.
            </blockquote>
          </div> {#--/.card-content--#}
        </div> {#--/.card--#}
      </div> {#--/.page-section--#}
    </section>
    {% endif %}

    <hr class="content section-break" />

    <section id="feeds" class="page-section">
    {% if blog_article or browser_article or privacy_article %}
      <section id="blog-feed" class="content">
      {% if blog_article %}
        <div class="card card-blog{% if blog_article[0].get_featured_image_url() %} card-image{% endif %}">
          <strong class="card-label">From the blogosphere</strong>

          <div class="card-content">
            {% if blog_article[0].get_featured_image_url() %}
              <img src="{{ blog_article[0].get_featured_image_url() }}" alt="" class="card-blog-image">
            {% endif %}

            <div class="card-content-inner">
              <h2 class="card-heading">
                {{ blog_article[0].blog_title }}
              </h2>

              <a href="{{ blog_article[0].link }}" class="card-cta">{{ blog_article[0].blog_name }}</a>
            </div>
          </div>
        </div>
      {% endif %}

      {% if browser_article %}
        <div class="card card-blog{% if browser_article[0].get_featured_image_url() %} card-image{% endif %}">
          <div class="card-content">
            {% if browser_article[0].get_featured_image_url() %}
              <img src="{{ browser_article[0].get_featured_image_url() }}" alt="" class="card-blog-image">
            {% endif %}

            <div class="card-content-inner">
              <h2 class="card-heading">{{ browser_article[0].blog_title }}</h2>

              <a href="{{ browser_article[0].link }}" class="card-cta">{{ browser_article[0].blog_name }}</a>
            </div>
          </div>
        </div>
      {% endif %}

      {% if privacy_article %}
        <div class="card card-blog{% if privacy_article[0].get_featured_image_url() %} card-image{% endif %}">
          <div class="card-content">
          {% if privacy_article[0].get_featured_image_url() %}
            <img src="{{ privacy_article[0].get_featured_image_url() }}" alt="" class="card-blog-image">
          {% endif %}

            <div class="card-content-inner">
              <h2 class="card-heading">{{ privacy_article[0].blog_title }}</h2>

              <a href="{{ privacy_article[0].link }}" class="card-cta">{{ privacy_article[0].blog_name }}</a>
            </div>
          </div>
        </div>
      {% endif %}
      </section>
    {% endif %}

      <section id="third-party-feed" class="content">
        <div class="card card-stacked">
          <div class="card-content">
            <blockquote class="quote">
              Why I switched back to Firefox
            </blockquote>

            <a rel="external" href="http://www.computerworld.com/article/3074093/enterprise-applications/why-i-switched-back-to-firefox.html" class="card-cta">Computerworld</a>
          </div>
        </div>
        <div class="card card-stacked">
          <div class="card-content">
            <blockquote class="quote">
              Half the Web Is Now Encrypted. That Makes Everyone Safer.
            </blockquote>

            <a rel="external" href="https://www.wired.com/2017/01/half-web-now-encrypted-makes-everyone-safer/" class="card-cta">Wired</a>
          </div>
        </div>
        <div class="card card-stacked">
          <div class="card-content">
            <blockquote class="quote">
              Your Internet Search History Will Soon Be Up for Sale &mdash; Here’s How You Can Protect Yourself
            </blockquote>

            <a rel="external" href="http://www.vogue.com/article/internet-privacy-fcc-laws-eliminated-protect-yourself" class="card-cta">Wired</a>
          </div>
        </div>
      </section> {#--/#third-party-feed.content--#}
    </section>

    <hr class="content section-break" />

    <section id="mobile" class="page-section">
      <div class="content">
        <div id="mobile-card" class="card image-card">
          <strong class="card-label">Firefox to go</strong>

          <div class="card-content-wrapper">
            <div class="card-content">
              <h2 class="card-heading">Different screens same fox</h2>

              <p>
                Take your passwords, bookmarks and tabs with you wherever you go.
              </p>

              <a href="" class="card-cta">
                Check out Firefox for iOS and Android
              </a>
            </div>
          </div> {#--/.card-content-wrapper--#}
        </div>
      </div> {#--/.content--#}
    </section> {#--/#mobile--#}

    <hr class="content section-break" />

    <aside id="related-download" class="page-section">
      <div class="content">
        <div class="card related-card">
          <div class="card-content">
            {{ high_res_img('firefox/hub/related-download.png', { 'width': '300', 'class': 'card-image' }) }}

            <div class="card-content-inner">
              {# HAHA. HAHA. HAHA. HAHA. #}
              <div class="card-content-inner-inner">
                <h2 class="card-heading">Start browsing on Firefox today</h2>
                <p>Faster than ever, more secure & <em>always</em> independent.</p>
              </div>

              <div class="card-cta-wrapper">
                {{ download_firefox(dom_id='features-footer-download-firefox') }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </aside>

    <hr class="content section-break" />

    <aside id="related-newsletter" class="page-section">
      <div class="content">
        <div class="card related-card">
          <div class="card-content">
            {{ high_res_img('firefox/hub/related-newsletter.png', { 'width': '300', 'class': 'card-image' }) }}

            <div class="card-content-inner">
              {# WE ARE IN THE UPSIDE DOWN. #}
              <div class="card-content-inner-inner">
                <h2 class="card-heading">Hungry for more?</h2>
                <p>Get the latest and greatest from Firefox delivered straight to your inbox.</p>
              </div>

              <div class="card-cta-wrapper">
                {{ email_newsletter_form(include_title=False, spinner_color='#000', button_class='button-hollow') }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </aside> {#--/#related--#}
  </div> {#--/.hub-content--#}
{% endblock %}


{% block site_footer %}
  {% with footer_class='dark' %}
    {% if LANG.startswith('en-') %}
      {% include 'includes/site-footer-new.html' %}
    {% else %}
      {% include 'includes/site-footer.html' %}
    {% endif %}
  {% endwith %}
{% endblock %}

{% block js %}
  {% javascript 'firefox-hub-home' %}
{% endblock %}
