{% extends "base-pebbles.html" %}

{% block page_title %}
{% endblock %}

{% block page_desc %}
{% endblock %}

{% block body_id %}{% endblock %}
{% block body_class %}{% endblock %}

{% block page_css %}
  {% stylesheet 'firefox-hub-home' %}
{% endblock %}

{% block content %}
  <nav id="fx-global-nav" class="moz-sub-nav" role="navigation">
    <div class="nav-horizontal-menu">
      <ul class="subnav-primary-links">
        <li><a href="{{ url('firefox') }}">Firefox</a></li>
        <li><a href="{{ url('firefox.desktop.index') }}">Desktop Browser</a></li>
        <li><a href="{{ url('firefox.android.index') }}">Android Browser</a></li>
        <li><a href="{{ url('firefox.ios') }}">iOS Browser</a></li>
        <li><a href="">Features</a></li>
        <li><a href="https://support.mozilla.org">Support</a></li>
      </ul>
    </div>
  </nav>

  <section id="intro" class="page-section">
    <div class="content">
      <h1 id="page-heading">Firefox Web Browser: <br>Fast. Private. Safe.</h1>

      <div id="download-intro-wrapper">
        {{ download_firefox(dom_id='download-intro') }}
      </div>
    </div>
  </section> {#--/#intro--#}

  <section id="features" class="page-section">
    <div class="content">
      <section id="modern" class="feature">
        <h2>Modern</h2>

        <p>
          I'm half machine. I'm a monster. He'll want to use your yacht, and I don't want this thing smelling like fish. Marry me. Whoa, this guy's straight? I hear the jury's still out on science.
        </p>
      </section>
      <section id="private" class="feature">
        <h2>Private</h2>

        <p>
          That's why you always leave a note! There's so many poorly chosen words in that sentence. It's a hug, Michael. I'm hugging you. There's only one man I've ever called a coward, and that's Brian Doyle Murray. No, what I'm calling you is a television actor.
        </p>
      </section>
      <section id="independent" class="feature">
        <h2>Independent</h2>

        <p>
          Well, what do you expect, mother? Now, when you do this without getting punched in the chest, you'll have more fun. As you may or may not know, Lindsay and I have hit a bit of a rough patch. Steve Holt!
        </p>
      </section>
    </div> {#--/.content--#}
  </section> {#--/#features--#}

  <div id="quote" class="page-section">
    <div class="content">
      <blockquote class="quote">
        Break up with Google quote here

        <cite class="author">Vogue</cite>
      </blockquote>
    </div>
  </div>

{% if LANG.startswith('en-') %}
  <section id="feeds" class="page-section">
    <div class="content columns2">
      <section id="feed-blog" class="column">
      {% if articles_privacy %}
        <ul class="blog-list">
        {% for article in articles_privacy %}
          <li class="blog-list-item">
            <article>
              <a rel="external" href="{{ article.link }}" class="blog-list-image">
                <span class="meta">{{ _('Tag') }}</span>
              </a>
              <h3><a rel="external" href="{{ article.link }}">{{ article.blog_title }}</a></h3>
              <p>{{ article.htmlify() }}</p>
            </article>
          </li>
        {% endfor %}
        </ul>
      {% else %}
        <figure class="feature-image">
          No blog posts! Fallback image?
        </figure>
      {% endif %}
      </section>
      <section id="feed-3rdparty" class="column">
        <ul class="press-list">
          <li class="press-list-item">
            <p><strong><a href="">No network? No problem for Google Docs on Firefox</a></strong></p>

            <small class="author">Publisher</small>
          </li>
          <li class="press-list-item">
            <p><strong><a href="">Firefox Focus iPhone Browser is Built for Privacy</a></strong></p>

            <small class="author">Publisher</small>
          </li>
          <li class="press-list-item">
            <p><strong><a href="">I'm not spooked. What's the next thing after spooked? I'm that.</a></strong></p>

            <small class="author">Tina Belcher</small>
          </li>
        </ul>

        <blockquote class="quote">
          Time for the charm bomb to explode.

          <cite class="author">Tina Belcher</cite>
        </blockquote>
      </section>
    </div>
  </section>
{% endif %}

  <section id="mobile" class="page-section">
    <div class="content">
      <h2>Mobile Everywhere</h2>

      <ul class="productlist">
        <li class="product" id="ios">
          <h3>iOS</h3>

          <p>
            Learn more about the <a href="{{ url('firefox.ios') }}">Firefox iOS Browser</a>.
          </p>
        </li>
        <li class="product" id="android">
          <h3>Android</h3>

          <p>
            Learn more about the <a href="{{ url('firefox.android.index') }}">Firefox Android Browser</a>.
          </p>
        </li>
        <li class="product" id="focus">
          <h3>Focus</h3>

          <p>
            Learn more about the <a href="">Firefox Focus Browser</a>.
          </p>
        </li>
      </ul>
    </div> {#--/.content--#}
  </section> {#--/#mobile--#}

  <aside id="related" class="related-content">
    <div class="content">
      <section class="related-content-item">
        <div class="related-content-item-container">
          <h2>{{ _('Get Firefox for desktop today') }}</h2>
          <p>{{ _('Firefox is faster, more private, and always independent. Available on desktop and mobile.') }}</p>
          {{ download_firefox(dom_id='features-footer-download-firefox') }}
        </div>
      </section>
      <section class="related-content-item">
        <div class="related-content-item-container">
          <h2>{{ _('Keep up with all things Firefox') }}</h2>
          <p>Dr. Yap is dreamy. When he's looking at my molars, it's like he's looking into my soul.</p>
          {{ email_newsletter_form(include_title=False, spinner_color='#000', button_class='button-hollow') }}
        </div>
      </section>
    </div>
  </aside> {#--/#related--#}
{% endblock %}

{% block site_footer %}
  {% with footer_class='dark' %}
    {% if LANG.startswith('en-') %}
      {% include 'includes/site-footer-new.html' %}
    {% else %}
      {% include 'includes/site-footer.html' %}
    {% endif %}
  {% endwith %}
{% endblock %}

{% block js %}
  {% javascript 'firefox-hub-home' %}
{% endblock %}
